@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body{
    background-color: black;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    margin: 1rem 5rem;
    max-width: 65vw;
}

/* Header Section */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title {
    font-size: 2rem;
}

.header-redirect{
    display: flex;
    gap: 8rem;
}

.header-text {
    color: rgba(255, 255, 255, 0.806);
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.header-button {
    font-size: 1.75rem;
    border-radius: 1rem;
    border: 1px #6880FF;
    background-color: #6880FF;
    padding: 1rem 3rem;
    color: white;
    margin-bottom: 2rem;
}

/* Banner Section */
.banner-section {
    display: flex;
    flex-direction: column;
}

.banner-div {
}

.banner-text__name {
    color: #6880FF;
    font-size: 1.75rem;
}

.banner-title {
    font-size: 4.5rem;
}

.banner-text {
    color: rgba(255, 255, 255, 0.806);
    font-size: 1.5rem;
    margin-bottom: 5rem;
}

.banner-button {
    font-size: 1.75rem;
    border-radius: 1rem;
    border: 1px #6880FF;
    background-color: #6880FF;
    padding: 1rem 3rem;
    color: white;
    margin-bottom: 7rem;
}

.banner-img {
    margin-bottom: 5rem;
}

/* About Me Section */
.aboutMe-section {
}

.aboutMe-title {
    font-size: 4.5rem;
}

.aboutMe-text {
    color: rgba(255, 255, 255, 0.806);
    font-size: 1.5rem;  
}

/* Technologies Section */
.tech-section {
}

.tech-title {
    margin-top: 8rem;
    font-size: 4rem;
}

.tech-li {
    list-style: none;
    padding-left: 0;
}

.tech-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.647);
}

.tech-img {
    margin-right: 3rem;
    width: 40px;
}

.tech-desctiption {
    font-size: 2rem;
}

/* Projects Section */
.projects-section {
    margin-top: 8rem;
}

.projects-title {
    font-size: 4rem;
}

.projects-li {
    list-style: none;
    padding-left: 0;
}

.projects-card {
    display: flex;
    flex-direction: column;
    padding: 0rem 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.647);
}

.projects-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects-div__title {
    font-size: 2.25rem;

}

.projects-text {
    color: rgba(255, 255, 255, 0.806);
    font-size: 1.75rem;
    margin-bottom: 2.5rem;
}

.projects-div__button {
    color: #6880FF;
    padding: 0;
    border: none;
    background: none;
    font-size: 1.75rem;
    margin-bottom: 2.5rem;
    
}

.projects-img {
    width: 60px;
}

/* Footer Section */
footer {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 2rem;
}

.footer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-title {
    font-size: 3.5rem;
}

.footer-div__imgs {
    
}

.footer-img {
    margin-right: 1rem;
    width: 25px;
}

.footer-text {
    color: rgba(255, 255, 255, 0.806);
    text-align: center;
    font-size: 1.75rem;
}

@media (max-width: 768px) {
    
}